go 1.18

use (
	./util
	./week2/1_fibonacci_number
	./week2/2_last_digit_of_fibonacci_number
	./week2/3_greatest_common_divisor
	./week2/4_least_common_multiple
	./week2/5_fibonacci_number_again
	./week2/6_last_digit_of_the_sum_of_fibonacci_numbers
	./week2/7_last_digit_of_the_sum_of_fibonacci_numbers_again
	./week2/8_last_digit_of_the_sum_of_squares_of_fibonacci_numbers
)
